# Server Configuration
PORT=3005

# NATS Configuration
NATS_HOST=72.61.129.234
NATS_PORT=4222
NATS_USERNAME=andes_nats
NATS_PASSWORD=andesworkforce_nats

# Environment
ENVIRONMENT=development
DEV_LOGS=true

# ClickHouse Configuration
CLICKHOUSE_HOST=72.61.129.234
CLICKHOUSE_PORT=8123
CLICKHOUSE_USERNAME=admin
CLICKHOUSE_PASSWORD=admin123
CLICKHOUSE_DATABASE=andes_db

#Redis
REDIS_HOST=72.61.129.234
REDIS_PORT=9002
REDIS_PASSWORD=sHdz2Ns675N8P8Jq61793XG1PefwRIOBuWgDvlhYUgHCw9tBFZHhJlHkiK1ojWCm
REDIS_DB=0
REDIS_TTL=600
REDIS_MAX_RETRIES=3
REDIS_RETRY_DELAY=1000