# Server Configuration
PORT=3005

# NATS Configuration
NATS_HOST=72.61.129.234
NATS_PORT=4222
NATS_USERNAME=andes_nats
NATS_PASSWORD=andesworkforce_nats

# Environment
ENVIRONMENT=development
DEV_LOGS=true

# ClickHouse Configuration
CLICKHOUSE_HOST=72.61.129.234
CLICKHOUSE_PORT=8123
CLICKHOUSE_USERNAME=admin
CLICKHOUSE_PASSWORD=admin123
CLICKHOUSE_DATABASE=andes_db